body{
    background: #f2709c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    justify-self: center;
    justify-content: flex-start;
    /* column-gap: 1px; */
}
.white-board{
    background: white;
    opacity: 0.8;
    border-radius: 7px;
}
.logo{
    padding: 23px;
}
.logo_name{
    font-size: 15px;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile div{
    margin-left: 19px;
}
.profile div h4{
    font-size: 20px;
}
.profile div h5{
    font-size: 22px;
    font-weight: bold;
}
/* .search{
    position: relative;
    left: 210px;
} */
.search-box{
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 7px;
    padding: 8px;
}
.search-box::placeholder{
    font-weight: bold;
}
.bell{
    border: 1px solid rgb(104, 104, 104);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    /* position: absolute; */
    margin-left: 19px;
}
.climate{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    /* left: 250; */
    align-items: center;
}
.climate div h3{
    font-size: 20px;
}
.celsius h2{
    margin-left: 21px;
}
.main_page{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.3fr;
    column-gap: 10px;
}
.menu_logo{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-left: 12px;
}
.weather-information{
    background: url('./pics/1781.jpg');
    /* background-color: rgb(255, 210, 180);
    background-blend-mode: darken; */
    width: auto;
    height: auto;
    background-size: cover;
    border: 1px solid black;
    border-radius: 7px;
}
.climate-information{
    background: url('./pics/25501.jpg');
    width: auto;
    height: auto;
    background-size: cover;
    border: 1px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.celsius{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}
.bg{
    background-color: rgb(133, 125, 125);
}

.extra{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
}
.purple{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.pressure{
    font-size: 18px;
    font-weight: bold;
    margin-top: 3px;
}
.pressure_value{
    font-size: 16px;
    padding: 9px;
    margin-top: 4px;
}
.white-color{
    color: white;
}
.margin-left{
    margin-left: 23px;
}
.outer-container{
    background-color: white;
    padding: 23px;
    border-radius: 10px;
    width: 80%;
    align-self: center;
}
.rainy{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 20px;
}
.subheading{
    font-size: 23px;
    font-weight: bold;
}
.subheading div{
    height: 12px;
}
.rainy-now{
    background-image: url('./pics/1521.jpg');
    background-size: cover;
    border-radius: 10px;
    width: auto;
}
.rainy-now{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.uv{
    background-color: #360259;
    border-radius: 10px;
    color: white;
}
.UVI{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.weather-container{
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}
.prev-celsius div{
    color: orange;
}
.date{
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}
.prev-celsius{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}
.previous-weather{
    display: flex;
    flex-direction: column;
    gap: 30px
}
.place-declaration{
    display: block;
}